version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: stock_analyser_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: stock_db
    ports:
      - "5432:5432"
    volumes:
      - ./database/schema.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d stock_db"]
      interval: 5s
      timeout: 5s
      retries: 5
